<style>
    .f-info-socials a {
    font-size: 24px; /* Adjust size as needed */
    margin: 0 10px;
}

.f-info-socials a:nth-child(1) i { /* Facebook */
    color: #1877F2;
}

.f-info-socials a:nth-child(2) i { /* Instagram */
    color: #E4405F;
}

.f-info-socials a:nth-child(3) i { /* LinkedIn */
    color: #0077B5;
}

</style>

<footer>
    <div class="f-info">
        <div class ="f-info-socials">
            <a href ="https://www.facebook.com/AirbnbIndia/?brand_redir=324826532457#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href ="https://www.instagram.com/airbnb/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href ="https://www.linkedin.com/company/airbnb/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;CozyNest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>  
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>